<%= form_for @user, remote: true, url: settings_update_user_path(@user) do |f| %>
<div class="settings-content-inner">
    <div class="settings-outer">
        <h2>Newsletters & Pages</h2>
    </div>
    <div class="inset">
        <h4 class="group-header">Newsletters</h4>
        <ul class="pill-list">
            <li>
                <div class="toolbar">
                    <div>
                        Newsletter Address
                        <p class="control-group-description">
                            Use this address to <a href="https://feedbin.com/blog/2016/02/03/subscribe-to-email-newsletters-in-feedbin/">receive emails</a> in Feedbin.
                        </p>
                    </div>
                    <%= render "shared/input", class: "accessory-right last-control" do %>
                        <input type="text" value="<%= @user.newsletter_address %>" readonly />
                        <button class="accessory right icon" data-behavior="copy" title="Copy to clipboard" data-toggle="tooltip">
                            <%= svg_tag "icon-clipboard" %>
                        </button>
                    <% end %>
                </div>
            </li>
            <li>
                <div class="toolbar">
                    <div>
                        Default Tag
                        <p class="control-group-description">
                            Automatically put incoming newsletters in this tag.
                        </p>
                    </div>
                    <%= render "shared/input", class: "accessory-right last-control" do %>
                        <%= f.select :newsletter_tag, tag_options, {}, {class: "select", data: {behavior: "auto_submit"}} %>
                        <span class="accessory right">
                            <%= svg_tag "icon-caret" %>
                        </span>
                    <% end %>
                </div>
            </li>
        </ul>
    </div>

    <div class="inset">
        <h4 class="group-header">Pages</h4>
        <ul class="pill-list">
            <li>
                <div class="toolbar">
                    <div>
                        Bookmarklet
                        <p class="control-group-description">
                            Drag this to your bookmarks bar. Use it to <a href="https://feedbin.com/blog/2019/08/20/save-webpages-to-read-later/">save articles from the web</a> to Feedbin.
                        </p>
                    </div>
                    <div class="last-control">
                        <%= render "shared/input", class: "accessory-left accessory-right grabber-wrap" do %>
                            <%= bookmarklet %>
                            <span class="accessory">
                                <%= svg_tag "favicon-saved" %>
                            </span>
                            <span class="accessory right grabber-icon">
                                <%= svg_tag "icon-grabber" %>
                            </span>
                        <% end %>
                    </div>
                </div>
            </li>
        </ul>
    </div>

    <div class="inset">
        <h4 class="group-header">Advanced</h4>
        <ul class="sharing-services">
            <li>
                <div class="service-header">
                    <div>
                        <div class="header">
                            <p class="service-title">Newsletter Senders</p>
                        </div>
                        <p class="control-group-description" style="margin-left: 0;">These are the senders of every newsletter you have received. Messages from a sender that has been deactivated will not be visible.</p>
                    </div>
                    <div class="last-control button-wrap-inline">
                        <%= button_tag "Show Senders", class: 'button button-secondary', data: {behavior: "toggle_service_options", toggle_text: "Hide Senders"} %>
                    </div>
                </div>
                <div class="service-options-wrap">
                    <div class="service-options nested-controls">
                        <ul class="control-group">
                            <% @user.newsletter_senders.each do |newsletter_sender| %>
                                <%= fields_for "newsletter_sender[]", newsletter_sender do |f| %>
                                   <li>
                                       <%= f.check_box :active, data: {behavior: "auto_submit"} %>
                                       <%= f.label :active do %>
                                           <%= newsletter_sender.name %> <span class="extra-muted">&lt;<%= newsletter_sender.email %>&gt;</span> <%= toggle_switch %>
                                           <% if newsletter_sender.full_token != newsletter_sender.token %>
                                               <p class="control-group-description">
                                                   <%= "Sent to #{newsletter_sender.full_token}@newsletters.feedbin.com" %>
                                               </p>
                                           <% end %>
                                       <% end %>
                                   </li>
                                   <li>
                                       <%= f.check_box :active, data: {behavior: "auto_submit"} %>
                                       <%= f.label :active do %>
                                           <%= newsletter_sender.name %> <span class="extra-muted">&lt;<%= newsletter_sender.email %>&gt;</span> <%= toggle_switch %>
                                           <% if newsletter_sender.full_token != newsletter_sender.token %>
                                               <p class="control-group-description">
                                                   <%= "Sent to #{newsletter_sender.full_token}@newsletters.feedbin.com" %>
                                               </p>
                                           <% end %>
                                       <% end %>
                                   </li>
                                   <li>
                                       <%= f.check_box :active, data: {behavior: "auto_submit"} %>
                                       <%= f.label :active do %>
                                           <%= newsletter_sender.name %> <span class="extra-muted">&lt;<%= newsletter_sender.email %>&gt;</span> <%= toggle_switch %>
                                           <% if newsletter_sender.full_token != newsletter_sender.token %>
                                               <p class="control-group-description">
                                                   <%= "Sent to #{newsletter_sender.full_token}@newsletters.feedbin.com" %>
                                               </p>
                                           <% end %>
                                       <% end %>
                                   </li>
                                <% end %>
                            <% end %>
                        </ul>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
<% end %>