<%= form_with model: subscription, url: settings_subscription_path, html: {class: 'settings'} do |f| %>
    <% present subscription do |subscription_presenter| %>
        <div class="feed-profile">
            <div class="inset">
                <ul class="control-group no-border">
                    <li class="no-border">
                        <div class="subscription-profile">
                            <div class="pill subscription-pill">
                                <%= subscription_presenter.favicon(subscription.feed) %>
                                <h4><%= subscription.title %></h4>
                                <button class="button button-secondary">Edit</button>
                            </div>
                            <div class="chart-wrap">
                                <div class="y-axis">
                                    <div class="start"><%= subscription_presenter.graph_max %></div>
                                    <div class="middle"><%= subscription_presenter.graph_mid %></div>
                                    <div class="end">0</div>
                                </div>
                                <div class="graph-wrap">
                                    <div class="graph">
                                        <% subscription_presenter.graph_bars.each do |data| %>
                                           <div style="height: <%= data.percent %>%;" title="<%= subscription_presenter.bar_title(data) %>" class="<%= subscription_presenter.bar_class(data) %>"></div>
                                        <% end %>
                                    </div>
                                    <div class="x-axis">
                                        <div><%= subscription_presenter.graph_date_start %></div>
                                        <div><%= subscription_presenter.graph_date_mid %></div>
                                        <div><%= subscription_presenter.graph_date_end %></div>
                                    </div>
                                </div>
                            </div>

                            <table class="table table-rounded">
                                <tbody>
                                    <tr>
                                        <td>
                                            Subscriber Since
                                        </td>
                                        <td>
                                            <%= subscription.created_at.to_s(:date) %>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Last Updated
                                        </td>
                                        <td>
                                            <%= subscription.feed.try(:last_published_entry).try(:to_s, :date) || "N/A" %>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Volume
                                        </td>
                                        <td>
                                            <%= subscription_presenter.graph_volume %>
                                            <% if subscription.feed.twitter_feed? %>
                                                tweets / month
                                            <% else %>
                                                articles / month
                                            <% end %>
                                        </td>
                                    </tr>
                                    <% if !subscription.feed.twitter_feed? %>
                                    <tr>
                                        <td>
                                            Website
                                        </td>
                                        <td>
                                            <a href="<%= subscription.feed.site_url %>"><span><%= pretty_url(subscription.feed.site_url) %></span></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Feed
                                        </td>
                                        <td>
                                            <a href="<%= subscription.feed.feed_url %>"><span><%= pretty_url(subscription.feed.feed_url) %></span></a>
                                        </td>
                                    </tr>
                                    <% end %>
                                </tbody>
                            </table>

                        </div>
                    </li>
                </ul>
                <div class="inset-content">
                    <h4 class="group-header">Feed Options</h4>
                </div>
                <ul class="control-group">
                    <li>
                        <%= f.check_box :muted, data: {behavior: "auto_submit"}, id: "subscription_muted" %>
                        <%= f.label :muted do %>
                            Muted <%= toggle_switch %>
                        <% end %>
                    </li>
                    <li>
                        <%= f.check_box :show_updates, data: {behavior: "auto_submit"}, id: "subscription_show_updates" %>
                        <%= f.label :show_updates do %>
                            Show updates <%= toggle_switch %>
                            <p class="control-group-description">
                                Tells you when an article has been changed after being published
                            </p>
                        <% end %>
                    </li>
                    <% if !subscription.feed.twitter_feed? %>
                        <li>
                            <%= link_to "Refresh Favicon", refresh_favicon_settings_subscription_path(subscription), remote: true, method: :post %>
                        </li>
                    <% end %>
                </ul>
                <% if subscription.feed.twitter_feed? %>
                    <div class="inset-content">
                        <h4 class="group-header">Twitter Options</h4>
                    </div>
                    <ul class="control-group">
                        <li>
                            <%= f.check_box :show_retweets, data: {behavior: "auto_submit"}, id: "subscription_show_retweets" %>
                            <%= f.label :show_retweets do %>
                                Show Retweets <%= toggle_switch %>
                            <% end %>
                        </li>
                        <li>
                            <%= f.check_box :media_only, data: {behavior: "auto_submit"}, id: "subscription_media_only" %>
                            <%= f.label :media_only do %>
                                Media Only <%= toggle_switch %>
                                <p class="control-group-description">
                                    Only show tweets that contain links or images
                                </p>
                            <% end %>
                        </li>
                    </ul>
                <% end %>
            </div>
        </div>
    <% end %>
<% end %>
